<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags in html
    <style>
    html {
        color-scheme: light dark;
    }
    body{
        font-family: sans-serif;
        font-size: 1.9rem;
        line-height: 1.5;
        width: 75ch;
        margin: 5rem auto;
    }
    </style>
</html>
</title>
</head>

<body>
    <header>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ipsum culpa nostrum inventore nam soluta et
        non, laboriosam adipisci nesciunt molestiae eligendi ipsam, veritatis quisquam quidem exercitationem quod
        architecto possimus!</header>

    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente dignissimos praesentium fugiat rem inventore
        illo voluptatum enim corporis necessitatibus est. Vero odio in veritatis blanditiis omnis, eius modi veniam
        laboriosam.</div>
    <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae blanditiis voluptatem aperiam hic, mollitia
        consectetur soluta sit nobis. Assumenda dolore architecto impedit autem laudantium adipisci, aliquid sequi harum
        hic sapiente.

    </footer>
    <nav>
        <ul>
            <li>Lorem.</li>
            <li>Quibusdam!</li>
            <li>Doloribus.</li>
            <li>Nam?</li>
            <li>Quo?</li>
        </ul>
    </nav>
    <section>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, voluptatum? Mollitia voluptatem officiis
        cupiditate illum, dolor natus porro aut optio nemo, omnis nostrum, officia dolore itaque pariatur perferendis
        iste tempore?</section>
    <section>Omnis quia autem voluptate recusandae, vel magnam suscipit? Ex natus sint vitae cupiditate id vel, laborum
        eius voluptate voluptas harum esse repudiandae. Sed rem debitis officia a magnam saepe molestias!</section>
    <section>Esse provident placeat, velit aspernatur quibusdam possimus labore sint! Deleniti mollitia labore est,
        doloribus consequuntur voluptatum ipsam nemo odio sed aut beatae tenetur unde. Dolore itaque doloribus vitae
        cupiditate eius?

    </section>
    <!-- formatting tags -->
    <h1>Heading 1</h1>
    <h2>Heading 2</h1>
    <h3>Heading 3</h1>
    <h4>Heading 4</h1>
    <h5>Heading 5</h1>
    <p><strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Dolorem, ut! Error perspiciatis numquam
                        id explicabo dolore, velit quae accusamu<u>s aliquam excepturi</u> quibusdam aperiam quisquam natus
                        veritatis cum? Aut, pariatur natus.
    </p>
    <div>
        <details>

        </details>
    </div>
    <table border="1" width="50%">
        <thead> 
                <tr>
                    <th colspan="4">purchased item </th>
                </tr>
                <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>flour</td>
                <td>5</td>
                <td>160</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Socks</td>
                <td>2</td>
                <td>40</td>                
            </tr>
            <tr>
                <td>3</td>
                <td>salt</td>
                <td>3</td>
                <td>90</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td>290</td>
            </tr>
        </tfoot>

        </table>
            <blockquote>"This is Sparta"-King Leonidas</blockquote>
             prelorem

</body>

</html>